{% extends 'magasin/base.html' %}
{% block content %}
  <h1>Liste des catégories</h1>
  <a href="{% url 'magasin:addcategorie' %}"class="btn btn-primary">Add New</a>
</br>
  <table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for categorie in categories %}
    <tr>
      <td>{{ categorie.name }}</td>
      <td> <a href="{% url 'magasin:categorie_detail' categorie_id=categorie.id %}"class="btn btn-primary">Show Detail</a>
      <a href="deletecategorie/{{ categorie.name }}" class="btn btn-sn btn-danger">Delete</a></td>
    </tr>
    {% empty %}
    <tr>
      <td>Aucune catégorie trouvée.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<style>
.card {
  opacity: 0;
  animation: fade-in 1s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.btn-info {
  background-color: #87CEFA;
  border-color: #87CEFA;
}

.btn-info:hover {
  background-color: #ADD8E6;
  border-color: #ADD8E6;
}

</style>
{% endblock content %}
  
